// Siv3D Engine Rsource
64000	FILE	"Engine/LogMessages.txt"
64080	FILE	"Engine/Assets/engine_textures.s3a"
64600	FILE	"Engine/Fonts/umeplus-p-gothic.zip"
64604	FILE	"Engine/Fonts/mplus-1p-medium.zip"
64700	FILE	"Engine/Shaders/D3D11/Sprite.vs"
64701	FILE	"Engine/Shaders/D3D11/FullScreenTriangle.vs"
64702	FILE	"Engine/Shaders/D3D11/DeferredMesh.vs"
64703	FILE	"Engine/Shaders/D3D11/LightAccumulation.vs"
64704	FILE	"Engine/Shaders/D3D11/ForwardMesh.vs"
64705	FILE	"Engine/Shaders/D3D11/ForwardParticle.vs"
64706	FILE	"Engine/Shaders/D3D11/ForwardLine3D.vs"
64800	FILE	"Engine/Shaders/D3D11/Shape.ps"
64801	FILE	"Engine/Shaders/D3D11/Shape_Stencil.ps"
64802	FILE	"Engine/Shaders/D3D11/Sprite.ps"
64803	FILE	"Engine/Shaders/D3D11/Sprite_Stencil.ps"
64804	FILE	"Engine/Shaders/D3D11/Sprite_Font.ps"
64805	FILE	"Engine/Shaders/D3D11/FullScreenTriangle1xMSAA.ps"
64806	FILE	"Engine/Shaders/D3D11/FullScreenTriangle2xMSAA.ps"
64807	FILE	"Engine/Shaders/D3D11/FullScreenTriangle4xMSAA.ps"
64808	FILE	"Engine/Shaders/D3D11/FullScreenTriangle1xMSAA_Linear.ps"
64809	FILE	"Engine/Shaders/D3D11/FullScreenTriangle2xMSAA_Linear.ps"
64810	FILE	"Engine/Shaders/D3D11/FullScreenTriangle4xMSAA_Linear.ps"
64811	FILE	"Engine/Shaders/D3D11/DeferredMesh.ps"
64812	FILE	"Engine/Shaders/D3D11/DeferredMesh_Textured.ps"
64813	FILE	"Engine/Shaders/D3D11/LightAccumulation_NoFog.ps"
64814	FILE	"Engine/Shaders/D3D11/LightAccumulation_LinearFog.ps"
64815	FILE	"Engine/Shaders/D3D11/LightAccumulation_ExponentialFog.ps"
64816	FILE	"Engine/Shaders/D3D11/LightAccumulation_SquaredExponentialFog.ps"
64817	FILE	"Engine/Shaders/D3D11/LightAccumulation_HeightFog.ps"
64818	FILE	"Engine/Shaders/D3D11/DeferredFinalize.ps"
64819	FILE	"Engine/Shaders/D3D11/ForwardMesh.ps"
64820	FILE	"Engine/Shaders/D3D11/ForwardMesh_Textured.ps"
64821	FILE	"Engine/Shaders/D3D11/ForwardLine3D.ps"
64822	FILE	"Engine/Shaders/D3D11/FXAA_None.ps"
64823	FILE	"Engine/Shaders/D3D11/FXAA_Q20.ps"
64824	FILE	"Engine/Shaders/D3D11/FXAA_Q25.ps"
64825	FILE	"Engine/Shaders/D3D11/FXAA_Q39.ps"

// Optional
64040	FILE	"Engine/Objdetect/facePhoto.zip"
64041	FILE	"Engine/Objdetect/faceAnime.zip"
64601	FILE	"Engine/Fonts/mplus-1p-thin.zip"
64602	FILE	"Engine/Fonts/mplus-1p-light.zip"
64603	FILE	"Engine/Fonts/mplus-1p-regular.zip"
64605	FILE	"Engine/Fonts/mplus-1p-bold.zip"
64606	FILE	"Engine/Fonts/mplus-1p-heavy.zip"
64607	FILE	"Engine/Fonts/mplus-1p-black.zip"

// App Resource
100		ICON	"Icon.ico"
101		FILE	"Engine/Splash.png"

// IndistinQuest_Load
//1100	FILE	"Asset/load.png"
1101	FILE	"JSONData/Enemy.json"

// IndistinQuest
1200    FILE    "Asset/title_graphicM.png"
1201    FILE    "Asset/title_logo2M.png"
1202    FILE    "Asset/StartButtonM.png"
1203    FILE    "Asset/RuleButtonM.png"
1204    FILE    "Asset/EnemiesButtonM.png"
1205    FILE    "Asset/CreditButtonM.png"
1206    FILE    "Asset/QuitButtonM.png"
1207    FILE    "Asset/StartButtonL.png"
1208    FILE    "Asset/back_button_resize.png"
1210    FILE    "Asset/right_button_resize.png"
1211    FILE    "Asset/left_button_resize.png"
1212    FILE    "Asset/rule_button.png"
1213    FILE    "Asset/タイトル6.ogg"
1214    FILE    "Asset/タイトルボタン2.ogg"
1215    FILE    "Asset/スライド1.JPG"
1216    FILE    "Asset/スライド2.JPG"
1217    FILE    "Asset/スライド3.JPG"
1218    FILE    "Asset/クレジット.png"

// IndistinQuest_Enemies
// Image
1300    FILE    "Asset/title_button_resize.png"
1301    FILE    "Asset/left_button_resize.png"
1302    FILE    "Asset/right_button_resize.png"
1303    FILE    "Asset/enemies_graphic.jpg"
1304    FILE    "Asset/enemies_guide_logo.png"
1305    FILE    "Asset/data_clear_resize.png"
// Sound
1310    FILE    "Asset/EnemiesSound/bgm.ogg"
1311    FILE    "Asset/EnemiesSound/decide.ogg"
1312    FILE    "Asset/EnemiesSound/move.ogg"
1313    FILE    "Asset/EnemiesSound/return.ogg"

// IndistinQuest_BattleScene
// Image
1500    FILE    "Asset/BattleScene/window_graphic.png"
1501    FILE    "Asset/BattleScene/message_graphic.png"
1502    FILE    "Asset/BattleScene/small_message_graphic.png"
1503    FILE    "Asset/BattleScene/cutin_logo.png"
// Image_BackGround
1511    FILE    "Asset/BattleScene/battle_graphic1.jpg"
1512    FILE    "Asset/BattleScene/battle_graphic2.jpg"
1513    FILE    "Asset/BattleScene/battle_graphic3.jpg"
1514    FILE    "Asset/BattleScene/battle_graphic4.jpg"
1515    FILE    "Asset/BattleScene/battle_graphic5.jpg"
// Sound
1521    FILE    "Asset/BattleScene/atk2.ogg"
1522    FILE    "Asset/BattleScene/miss1.ogg"
1523    FILE    "Asset/BattleScene/damage7.ogg"
1524    FILE    "Asset/BattleScene/jump10.ogg"
1525    FILE    "Asset/BattleScene/battle1.ogg"
1526    FILE    "Asset/BattleScene/battle2.ogg"
1527    FILE    "Asset/BattleScene/battle3.ogg"
1528    FILE    "Asset/BattleScene/battle4.ogg"

// IndistinQuest_EnemyGraphic
1601    FILE    "Asset/EnemyGraphics/1.png"
1602    FILE    "Asset/EnemyGraphics/2.png"
1603    FILE    "Asset/EnemyGraphics/3.png"
1604    FILE    "Asset/EnemyGraphics/4.png"
1605    FILE    "Asset/EnemyGraphics/5.png"
1606    FILE    "Asset/EnemyGraphics/6.png"
1607    FILE    "Asset/EnemyGraphics/7.png"
1608    FILE    "Asset/EnemyGraphics/8.png"
1609    FILE    "Asset/EnemyGraphics/9.png"
1610    FILE    "Asset/EnemyGraphics/10.png"
1611    FILE    "Asset/EnemyGraphics/11.png"
1612    FILE    "Asset/EnemyGraphics/12.png"
1613    FILE    "Asset/EnemyGraphics/13.png"
1614    FILE    "Asset/EnemyGraphics/14.png"
1615    FILE    "Asset/EnemyGraphics/15.png"
1616    FILE    "Asset/EnemyGraphics/16.png"
1617    FILE    "Asset/EnemyGraphics/17.png"
1618    FILE    "Asset/EnemyGraphics/18.png"
1619    FILE    "Asset/EnemyGraphics/19.png"
1620    FILE    "Asset/EnemyGraphics/20.png"
1621    FILE    "Asset/EnemyGraphics/21.png"
1622    FILE    "Asset/EnemyGraphics/22.png"
1623    FILE    "Asset/EnemyGraphics/23.png"
1624    FILE    "Asset/EnemyGraphics/24.png"
1625    FILE    "Asset/EnemyGraphics/25.png"
1626    FILE    "Asset/EnemyGraphics/26.png"
1627    FILE    "Asset/EnemyGraphics/27.png"
1628    FILE    "Asset/EnemyGraphics/28.png"
1629    FILE    "Asset/EnemyGraphics/29.png"
1630    FILE    "Asset/EnemyGraphics/30.png"

// IndistinQuest_Shadow_EnemyGraphic
1701    FILE    "Asset/EnemyGraphics/shadow1.png"
1702    FILE    "Asset/EnemyGraphics/shadow2.png"
1703    FILE    "Asset/EnemyGraphics/shadow3.png"
1704    FILE    "Asset/EnemyGraphics/shadow4.png"
1705    FILE    "Asset/EnemyGraphics/shadow5.png"
1706    FILE    "Asset/EnemyGraphics/shadow6.png"
1707    FILE    "Asset/EnemyGraphics/shadow7.png"
1708    FILE    "Asset/EnemyGraphics/shadow8.png"
1709    FILE    "Asset/EnemyGraphics/shadow9.png"
1710    FILE    "Asset/EnemyGraphics/shadow10.png"
1711    FILE    "Asset/EnemyGraphics/shadow11.png"
1712    FILE    "Asset/EnemyGraphics/shadow12.png"
1713    FILE    "Asset/EnemyGraphics/shadow13.png"
1714    FILE    "Asset/EnemyGraphics/shadow14.png"
1715    FILE    "Asset/EnemyGraphics/shadow15.png"
1716    FILE    "Asset/EnemyGraphics/shadow16.png"
1717    FILE    "Asset/EnemyGraphics/shadow17.png"
1718    FILE    "Asset/EnemyGraphics/shadow18.png"
1719    FILE    "Asset/EnemyGraphics/shadow19.png"
1720    FILE    "Asset/EnemyGraphics/shadow20.png"
1721    FILE    "Asset/EnemyGraphics/shadow21.png"
1722    FILE    "Asset/EnemyGraphics/shadow22.png"
1723    FILE    "Asset/EnemyGraphics/shadow23.png"
1724    FILE    "Asset/EnemyGraphics/shadow24.png"
1725    FILE    "Asset/EnemyGraphics/shadow25.png"
1726    FILE    "Asset/EnemyGraphics/shadow26.png"
1727    FILE    "Asset/EnemyGraphics/shadow27.png"
1728    FILE    "Asset/EnemyGraphics/shadow28.png"
1729    FILE    "Asset/EnemyGraphics/shadow29.png"
1730    FILE    "Asset/EnemyGraphics/shadow30.png"

// IndistinQuest_ResultScene
1801    FILE    "Asset/result_graphic.jpg"
1802    FILE    "Asset/result_logo.png"
1803    FILE    "Asset/retry_button_for_result.png"
1804    FILE    "Asset/title_button_for_result.png"
1811    FILE    "Asset/ResultBGM.ogg"
1812    FILE    "Asset/ResultButtonSE.ogg"
