// Siv3D Engine Rsource
64000	FILE	"Engine/LogMessages.txt"
64080	FILE	"Engine/Assets/engine_textures.s3a"
64600	FILE	"Engine/Fonts/umeplus-p-gothic.zip"
64604	FILE	"Engine/Fonts/mplus-1p-medium.zip"
64700	FILE	"Engine/Shaders/D3D11/Sprite.vs"
64701	FILE	"Engine/Shaders/D3D11/FullScreenTriangle.vs"
64702	FILE	"Engine/Shaders/D3D11/DeferredMesh.vs"
64703	FILE	"Engine/Shaders/D3D11/LightAccumulation.vs"
64704	FILE	"Engine/Shaders/D3D11/ForwardMesh.vs"
64705	FILE	"Engine/Shaders/D3D11/ForwardParticle.vs"
64706	FILE	"Engine/Shaders/D3D11/ForwardLine3D.vs"
64800	FILE	"Engine/Shaders/D3D11/Shape.ps"
64801	FILE	"Engine/Shaders/D3D11/Shape_Stencil.ps"
64802	FILE	"Engine/Shaders/D3D11/Sprite.ps"
64803	FILE	"Engine/Shaders/D3D11/Sprite_Stencil.ps"
64804	FILE	"Engine/Shaders/D3D11/Sprite_Font.ps"
64805	FILE	"Engine/Shaders/D3D11/FullScreenTriangle1xMSAA.ps"
64806	FILE	"Engine/Shaders/D3D11/FullScreenTriangle2xMSAA.ps"
64807	FILE	"Engine/Shaders/D3D11/FullScreenTriangle4xMSAA.ps"
64808	FILE	"Engine/Shaders/D3D11/FullScreenTriangle1xMSAA_Linear.ps"
64809	FILE	"Engine/Shaders/D3D11/FullScreenTriangle2xMSAA_Linear.ps"
64810	FILE	"Engine/Shaders/D3D11/FullScreenTriangle4xMSAA_Linear.ps"
64811	FILE	"Engine/Shaders/D3D11/DeferredMesh.ps"
64812	FILE	"Engine/Shaders/D3D11/DeferredMesh_Textured.ps"
64813	FILE	"Engine/Shaders/D3D11/LightAccumulation_NoFog.ps"
64814	FILE	"Engine/Shaders/D3D11/LightAccumulation_LinearFog.ps"
64815	FILE	"Engine/Shaders/D3D11/LightAccumulation_ExponentialFog.ps"
64816	FILE	"Engine/Shaders/D3D11/LightAccumulation_SquaredExponentialFog.ps"
64817	FILE	"Engine/Shaders/D3D11/LightAccumulation_HeightFog.ps"
64818	FILE	"Engine/Shaders/D3D11/DeferredFinalize.ps"
64819	FILE	"Engine/Shaders/D3D11/ForwardMesh.ps"
64820	FILE	"Engine/Shaders/D3D11/ForwardMesh_Textured.ps"
64821	FILE	"Engine/Shaders/D3D11/ForwardLine3D.ps"
64822	FILE	"Engine/Shaders/D3D11/FXAA_None.ps"
64823	FILE	"Engine/Shaders/D3D11/FXAA_Q20.ps"
64824	FILE	"Engine/Shaders/D3D11/FXAA_Q25.ps"
64825	FILE	"Engine/Shaders/D3D11/FXAA_Q39.ps"

// Optional
64040	FILE	"Engine/Objdetect/facePhoto.zip"
64041	FILE	"Engine/Objdetect/faceAnime.zip"
64601	FILE	"Engine/Fonts/mplus-1p-thin.zip"
64602	FILE	"Engine/Fonts/mplus-1p-light.zip"
64603	FILE	"Engine/Fonts/mplus-1p-regular.zip"
64605	FILE	"Engine/Fonts/mplus-1p-bold.zip"
64606	FILE	"Engine/Fonts/mplus-1p-heavy.zip"
64607	FILE	"Engine/Fonts/mplus-1p-black.zip"

// App Resource
100		ICON	"Icon.ico"
101		FILE	"Engine/Splash.png"

// IndistinQuest
200    FILE    "Asset/title_graphicM.png"
201    FILE    "Asset/title_logo2M.png"
202    FILE    "Asset/StartButtonM.png"
203    FILE    "Asset/RuleButtonM.png"
204    FILE    "Asset/EnemiesButtonM.png"
205    FILE    "Asset/CreditButtonM.png"
206    FILE    "Asset/QuitButtonM.png"
207    FILE    "Asset/StartButtonL.png"
208    FILE    "Asset/back_button_resize.png"

// IndistinQuest
300	   FILE    "Asset/title_button_resize.png"
301    FILE    "Asset/left_button_resize.png"
302    FILE    "Asset/right_button_resize.png"
303    FILE    "Asset/enemies_graphic.jpg"

// IndistinQuest_BattleScene
// Image
500    FILE    "Asset/BattleScene/window_graphic.png"
501    FILE    "Asset/BattleScene/message_graphic.png"
502    FILE    "Asset/BattleScene/small_message_graphic.png"
503    FILE    "Asset/BattleScene/cutin_logo.png"
// Image_BackGround
511    FILE    "Asset/BattleScene/battle_graphic1.jpg"
512    FILE    "Asset/BattleScene/battle_graphic2.jpg"
513    FILE    "Asset/BattleScene/battle_graphic3.jpg"
514    FILE    "Asset/BattleScene/battle_graphic4.jpg"
515    FILE    "Asset/BattleScene/battle_graphic5.jpg"
// Sound
520    FILE    "Asset/BattleScene/bgm_maoudamashii_neorock49.ogg"
521    FILE    "Asset/BattleScene/crrect_answer3.mp3"
522    FILE    "Asset/BattleScene/powerdown07.mp3"
523    FILE    "Asset/BattleScene/damage7.mp3"
524    FILE    "Asset/BattleScene/jump10.mp3"

// IndistinQuest_EnemyGraphic
601    FILE    "Asset/EnemyGraphics/1.png"
602    FILE    "Asset/EnemyGraphics/2.png"
603    FILE    "Asset/EnemyGraphics/3.png"
604    FILE    "Asset/EnemyGraphics/4.png"
605    FILE    "Asset/EnemyGraphics/5.png"
606    FILE    "Asset/EnemyGraphics/6.png"
607    FILE    "Asset/EnemyGraphics/7.png"
608    FILE    "Asset/EnemyGraphics/8.png"
609    FILE    "Asset/EnemyGraphics/9.png"
610    FILE    "Asset/EnemyGraphics/10.png"
611    FILE    "Asset/EnemyGraphics/11.png"
612    FILE    "Asset/EnemyGraphics/12.png"
613    FILE    "Asset/EnemyGraphics/13.png"
614    FILE    "Asset/EnemyGraphics/14.png"
615    FILE    "Asset/EnemyGraphics/15.png"
616    FILE    "Asset/EnemyGraphics/16.png"
617    FILE    "Asset/EnemyGraphics/17.png"
618    FILE    "Asset/EnemyGraphics/18.png"
619    FILE    "Asset/EnemyGraphics/19.png"
620    FILE    "Asset/EnemyGraphics/20.png"
621    FILE    "Asset/EnemyGraphics/21.png"
622    FILE    "Asset/EnemyGraphics/22.png"
623    FILE    "Asset/EnemyGraphics/23.png"
624    FILE    "Asset/EnemyGraphics/24.png"
625    FILE    "Asset/EnemyGraphics/25.png"
626    FILE    "Asset/EnemyGraphics/26.png"
627    FILE    "Asset/EnemyGraphics/27.png"
628    FILE    "Asset/EnemyGraphics/28.png"
629    FILE    "Asset/EnemyGraphics/29.png"
630    FILE    "Asset/EnemyGraphics/30.png"